/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    
    background: linear-gradient(90deg, rgba(30,0,36,1) 0%, rgba(76,148,154,1) 44%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container{
background-color: #fff;
width: 300px;
height: 550px;
border-radius: 10px;

}
.form-header{
    height: 100px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 900;
}

.form-body{
    padding: 32px;
    opacity: 0.8;
}
.form-lable{
    display: block;
    margin-bottom: 12px;
    font-size: 10px;
    font-weight: 700;
    opacity: 0.7;
}

.form-input{
    font-size: 12px;
    width: 100%;
   padding: 10px;
   border-top: 1px solid#fff;
   border-right: solid#fff;
   border-left: #fff;
   margin-bottom: 24px;
   outline: none;
}

.forgot-password{
    float: right;
    margin: -20px;
    padding-right: 17px;
    font-size: 10px;
    font-weight: 700;
    color: #555;
    text-decoration: none;
    
}

.forgot-password:hover{
   color: #000;
   transition: 0.6s;
}

#button-login{
background: linear-gradient(90deg, rgba(30,0,36,1) 0%, rgba(76,148,154,1) 44%, rgba(0,212,255,1) 100%);
    width: 100%;
    text-transform: uppercase;
    padding: 7px;
    color:#fff;
    font-weight: 800;
    border-radius: 19px;
    margin-top: 20px;
    border: 1px;
    text-align: center;
    display: block;
    text-decoration: none;
}
#button-login:hover{
    background: #00BFFF;
    transition: 0.4;
    cursor: pointer;
}


.form-sign-up{
text-align: center;
opacity: 0.6;
font-size: 12px;
}

.font-button{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 63px;
    margin-left: 4px;
}


.text-sign-up{
    text-align: center;
    font-size: 12px;
    opacity: 0.6;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 700;
}
.ti-facebook{
    content: "\e741";
    background-color: #191970;
    color: #fff;
    border-radius: 50%;
    padding: 6px;
    
}

.ti-facebook:hover{

    background-color: #1E90FF;
    transition: 0.6s;
    cursor: pointer;
}


.ti-twitter-alt{
    content: "\e74b";
    background-color: #00BFFF;
    color: #fff;
    border-radius: 50%;
    padding: 6px;
    line-height: 6px;
    margin-left: 6px;
}

.ti-twitter-alt:hover{
    background-color: #4169E1;
    transition: 0.6;
    cursor: pointer;
}


.ti-google{
    content: "\e73e";
    background-color: #CD5C5C;
    color: #fff;
    border-radius: 50%;
    padding: 6px;
    line-height: 6px;
    margin-left: 6px;
}
.ti-google:hover {
    background-color: #8B0000;
    transition: 0.6s;
    cursor: pointer;
}
